/* .signup {
  text-align: center;
} */

.signup .input-outer {
  margin: 0 0 1rem 0;
}

.signup .input-wrapper {
  max-width: 100%;
}

.signup .input-label {
  display: block;
  margin: 0 inherit 0 inherit;
  padding: 0 0 0.5rem 0;

  text-align: left;

  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.125rem;
}
.signup .input-inner {
  position: relative;
  box-shadow: 0 0 0 1px #94929c;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
}

.signup input {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.75rem;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;

  appearance: none;
  border: none;
}

.signup button,
.signup input[type="submit"] {
  background: #0275ff;
  color: #fff;

  font-size: 0.875rem;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-flex;
  width: auto;
  justify-content: center;
  padding: 0.75rem 2rem;
  margin: inherit;
  position: relative;
  transition: filter 0.25s;
  border: 1px solid transparent;
  line-height: 1.3rem;
}

.signup button:disabled,
.signup input[type="submit"]:disabled {
  background: #0275ff73;
}

.signup button::before,
.signup input[type="submit"]::before {
  box-sizing: border-box;
  content: "";
  width: 0;
  margin-right: 0;
  height: 1.28571428em;
  border: 0 solid transparent;
  border-radius: 1.28571428em;
  transition: width 0.25s, border 0.25s, margin-right 0.25s;
}

#error-message {
  color: red;
}

.contacts-table {
  max-width: 800px !important;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: currentColor;
}

.table-hover > tbody > tr:hover {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}
