.contacts-mgr-box.contact-card {
  line-height: 1rem;

  width: 100%;
  max-width: 350px;

  padding: 3px 24px;

  border-radius: 6px;

  background-color: rgb(240, 242, 245);
}

.contacts-mgr-box.contact-card .field .field-name {
  display: inline-block;
  width: 5rem;
  font-weight: 600;
}
