.contacts-table {
  max-width: 900px !important;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);

  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table > thead {
  vertical-align: bottom;
}

.table-hover > tbody > tr:hover {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

p.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-nav {
  text-align: right;
}

#page_no {
  display: inline-block;
  width: 1.5rem;
  text-align: center;
}

.table-nav button {
  height: 2rem;
  width: 2rem;

  border: none;
  border-radius: 0;

  color: white;
  background-color: rgb(64, 158, 255);

  cursor: pointer;
}

.table-nav button:disabled {
  background-color: rgb(240, 242, 245);
}
